{#
{% extends "JucevejuFlowchartBundle::layout.html.twig" %}

{% block flowchart_component %}  
<p>Flowchart Default controller - index action view</p>
{% endblock %} 
#}

<p>Flowchart Default controller - index action view</p>